<body>
  <div class="about-section">
    <h1>Valentina Andric</h1>
    <p>IT STUDENT</p>
    <p>Fakultet tehnickih nauka, Univerziteta u Novom Sadu</p>
  </div>

  <div class="column-2">
    <h1>Nesto o meni</h1>
    <p>
      Zdravo! Moje ime je Valentina, treca sa godina na Fakultetu tehnickih
      nauka, Univerziteta u Novom Sadu. Na fakultetu se susrecem sa razlicitim
      izazovima, jedan od njih je kreiranje ovog sajta. U slobodno vreme volim
      da plivam, treniram i vreme provodim sa svojim drugarima.
    </p>
    <p>
      Veb programiranje mi je jako zanimljivo i tezim da usavrsim svoja znanja.
    </p>
  </div>
</body>
