<div class="about-section">
  <h1>O nama</h1>
  <p>Aplikacija za vodjenje evidencije o razlicitim preduzecima</p>
  <p>Upoznajte nas tim</p>
</div>

<h2 class="text">Nas Tim</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Valentina Andric</h2>
        <p class="title">CEO & Founder</p>
        <p>Radi na poziciji CEO & Founder</p>
        <p>valentina@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Nikola Simic</h2>
        <p class="title">Art Director</p>
        <p>Radi na poziciji Art Dekoratora</p>
        <p>nikola@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Sandra Lazarevic</h2>
        <p class="title">3D Artist</p>
        <p>Radi na poziciji 3D Artista</p>
        <p>sandra@example.com</p>
      </div>
    </div>
  </div>
</div>
